$serif: 'Arvo', serif;
$sans-serif: 'Lato', sans-serif;
$title: 'Rock Salt', cursive;
$open: 'Open Sans', sans-serif;

// Use the following CSS rules to specify these families:
// font-family: 'Arvo', serif;
// font-family: 'Lato', sans-serif;
