.main-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.video-holder {
	position: relative;
	width: 100vw;
  height: 56.25vw;
}

.title-holder {
  height: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-holder > h1 {
  font-family: $title;
  text-decoration: none;
  font-weight: normal;
  font-style: none;
  color: whitesmoke;
  text-shadow: 2px 2px 1px black;
}

.title-holder > h4 {
  font-family: $open;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 1px 1px 1px white;
}

.index-container {
  height: 300px;
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-container > h2 {
  font-size: 22px;
  font-weight: normal;
	margin: 14px 0;
}

.resort-index {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.resort-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 195px;
  height: 120px;
  justify-content: center;
  margin: 0 2% 35px 2%;
  transition: 0.3s;
	font-size: 14px
}

.resort-item:hover {
  background-color: $sky-blue;
  border-color: black;
  box-shadow: 2px 2px 1px gray;
  transition: 0.3s;
  cursor: pointer;
}

.resort-photo {
  max-width: 180px;
  max-height: 101px;
  border-radius: 8px;
}
.route-button {
  margin: 0;
  text-decoration: underline;
  font-size: 22px;
  border: none;
  transition: none;
  &:hover {
    background-color: transparent;
    color: black;
    border: none;
    transition: 0s;
    opacity: 1;
  }
  padding: 0;
}
