#map-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.search-results-container {
  display: flex;
  justify-content: flex-end;
  width: 99%;
}

.search-results-index {
  background-color: white;
  opacity: 0.9;
  width: 35%;
  max-width: 380px;
  height: 83vh;
  margin-top: 20px;
  border-radius: 7px;
}
