#map-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.search-results-container {
  width: 35%;
  right: 0px;
  margin-right: 10px;
  position: absolute;
}

.search-results-index {
  background-color: white;
  opacity: 0.9;
  width: 100%;
  max-width: 380px;
  height: 88vh;
  margin-top: 20px;
  border-radius: 7px;
}
