.modal-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 47, 47, 0.79);
}

.modal-form {
  position: absolute;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  outline: none;
  padding: 20px;
  // WebkitOverflowScrolling: touch;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 36vw;
  max-width: 400px;
  height: 46vh;
  max-height: 410px;
  min-height: 330px;
}

.review-modal {
  width: 55vw;
  height: 70vh;
  max-width: none;
  max-height: 530px;
}

.photo-modal {
  max-width: none;
  max-height: none;
  min-height: 0;
  width: auto;
  height: auto;
  text-align: center;
}

.photo-modal > button {
  margin-top: 7px;
}

.photo-preview {
  display: inherit;
}
