header {
  display: flex;
  justify-content: center;
}

.nav-bar {
  background-color: transparent;
  position: fixed;
  width: 80%;
  justify-content: space-between;
  height: 36px;
  font-size: 14px;
}

.logo {
  width: 55px;
  height: auto;
  margin-top: 2px;
}

.login-signup, .greeting {
  display: flex;
  align-items: center;
}

.login-signup > li {
  height: 80%;
  padding: 6px 9px;
}

.login-signup > li:last-of-type {
  padding-right: 0;
}

.header-button {
  padding: 0;
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 19px;
}

.search-nav-bar {
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0, auto;
  height: 50px;
  z-index: 100;
}

.search-header {
  background: $sky-blue;
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
}
