.detail-page {
  width: 80%;
  height: 2000px; //may not need after reviews are added
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.resort-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 350px; //changed from vh
  min-width: 200px;
  min-height: 200px;
  margin: 5px 0 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.resort-detail * {
  display: flex;
}

.resort-details {
  flex-direction: column;
}

.resort-details > * {
  margin-bottom: 7px;
}

.detail-header {
  justify-content: space-between;
  width: 100%;
  height: 33%;
}

.review-row {
  align-items: center;
}

.review-row > div {
  font-size: 14px;
}

.review-stars {
  height: 24px;
  width: 200px;
  align-items: center;
}

.review-stars > div > style {
  display: none;
}

.review-stars span {
  margin-right: 10px;
  cursor: default;
  z-index: -20;
}

.location {
  justify-content: space-between;
  max-width: 300px;
}

.location li {
  font-size: 17px;
  margin-right: 10px;
}

.review-buttons {
  align-items: center;
}

.review-buttons li {
  margin-left: 8px;
}

.review-buttons button {
  padding: 6px;
  align-items: center;
  font-size: 14px;
  justify-content: space-around;
}

[class*='fa-'] {
  padding-right: 5px;
}
