.resort-photos-container {
  justify-content: space-between;
}

.trail-map-container {
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  transition: 0.3s;
  &:hover {
    background-color: $sky-blue;
    border-color: black;
    box-shadow: 2px 2px 1px gray;
    transition: 0.3s;
    cursor: pointer;
  }
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trail-map {
  width: 95%;
  height: 87%;
  background-position: center;
  background-color: black;
  border-radius: 10px;
  margin-top: 5px;
}

.photo-carousel {
  display: block;
  min-width: 0;
  min-height: 0;
  padding-left: 50px;
}

.slider-img {
  width: auto;
  height: 190px;
  padding-right: 15px;
}

.slick-arrow {
  background-color: $black !important;
  &:hover {
    background-color: $black !important;
  }
}
