.review-index > h4 {
  text-align: center;
  margin: 0;
  font-size: 14px;
  margin-top: 13px;
}

.review {
  height: 160px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 13px 0;
}

.review > section {
  display: flex;
  flex-direction: column;
}

.edit-buttons button {
  margin-right: 7px;
}

.name-pic {
  justify-content: flex-start;
  align-items: center;
}

.name-pic h5 {
  font-size: 14px;
  margin: 12px;
}

.name-pic img {
  max-width: 75px;
  max-height: 75px;
  border-radius: 3px;
}

.review-bars {
  justify-content: space-around;
}

.overall-rating {
  height: 20%;
}

.date-body > div {
  margin: 14px 0;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}

.date-body > div > div {
  display: flex;
  align-items: center;
}

.rating-bar {
  width: 100%;
  background-color: lightgray;
  border-radius: 5px;
}

.rating-name {
  position: absolute;
  padding-left: 3px;
}

[class*='bar-'] {
  height: 15px;
  background-color: $light-blue;
  margin: 5px 0;
  border-radius: 5px;
}

.bar-1-5 {
  width: 20%;
}

.bar-2-5 {
  width: 40%;
}

.bar-3-5 {
  width: 60%;
}

.bar-4-5 {
  width: 80%;
}

.bar-5-5 {
  width: 100%;
}
