.search-results-index {
  background-color: white;
  opacity: 0.9;
  width: 100%;
  height: 88vh;
  margin-top: 20px;
  border-radius: 7px;
  overflow: scroll;
  width: 37%;
  left: 0px;
  margin-left: 15px;
  position: absolute;
  max-width: 500px;
}

.search-results-index ul {
  height: 100%;
}

.search-results-index li {
  display: flex;
  justify-content: center;
  height: 20%;
  // transition: background-color 0.2s;
}

.search-results-index li:hover {
  background-color: $imperial-blue;
  color: white;
  // transition: background-color 0.3s;
  cursor: pointer;
}

.resort-name {
  font-size: 14px;
  text-align: center;
}

.search-result-item {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid lightgray;
}

.profile-pic {
  // max-width: 125px;
  max-height: 75px;
  border-radius: 4px;
}

.name-rating, .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address a {
  text-decoration: underline;
}

.address li {
  text-align: center;
}

.address li:first-of-type {
  height: auto;
  padding-bottom: 3px;
}
